[Unit]
# 服务描述
Description=spring
# 指定了在systemd在执行完那些target之后再启动该服务
#Documentation=https://www.baidu.com
After=syslog.target

[Service]
User=apprun
# 指定 jar 包路径
ExecStart=/apprun/tricks/tricks.jar
SuccessExitStatus=143
Restart=always
PrivateTmp=true

[Install]
# 多用户
WantedBy=multi-user.target
